/* This is the little icon menu */
#menu{
	position: relative;
	width: 38px;
	background: lightgray;
	border: 1px solid #c7d2d9;
	margin: -279px 0px auto auto;
	padding: 5px;
	-moz-border-radius-topleft: 5px;  
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;  
	-webkit-border-bottom-left-radius: 5px;
}
.button{
	position: relative;
	width: 28px;
	height: 26px;
	list-style: none;
	padding: 2px 0px 0px 0px;
	margin: 30px auto auto auto;
	border: 0px solid #b2c1cc;
}
#b1{
	background: transparent url(images/button_1.png) no-repeat;
	margin-top: 5px;
}
#b2{
	background: transparent url(images/button_2.png) no-repeat;
}
#b3{
	background: transparent url(images/button_3.png) no-repeat;
}
#b4{
	background: transparent url(images/button_4.png) no-repeat;
}
#b5{
	background: transparent url(images/button_5.png) no-repeat;
}
#b6{
	background: transparent url(images/button_6.png) no-repeat;
}

/*hovers*/

#b1:hover{
	background: transparent url(images/button_1h.png) no-repeat;
}
#b2:hover{
	background: transparent url(images/button_2h.png) no-repeat;
}
#b3:hover{
	background: transparent url(images/button_3h.png) no-repeat;
}
#b4:hover{
	background: transparent url(images/button_4h.png) no-repeat;
}
#b5:hover{
	background: transparent url(images/button_5h.png) no-repeat;
}
#b6:hover{
	background: transparent url(images/button_6h.png) no-repeat;
}
/*more hovers*/
