*+html{overflow:auto;}


.img-shadow { behavior:url(js/PIE.htc);  position:relative;}

.block1  { behavior:url(js/PIE.htc);  position:relative;}
.block2 { behavior:url(js/PIE.htc);  position:relative;}
.gallery { behavior:url(js/PIE.htc);  position:relative;}

.img-pags li { behavior:url(js/PIE.htc);  position:relative;}


 













