body {
    background: #F3F3F3;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
	
}

hr {
    border: 0;
    color: #838080;
    background-color: #dbe2e7;
    height: 1px;
    width: 100%;
    text-align: left;
}

a {
    color: #1f363d;
    text-decoration: none;
}

b {
    position: relative;
    font-weight: bold;
}
h2{
	font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 30px;
}
h3 {
    font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 14px;
}

h4 {
    font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 13px;
}

h5 {
    position: relative;
    font-weight: bold;
    font-size: 12px;
}

.container {
    margin: -10px auto 20px auto;
    width: 980px; /* Replace the xxxx with the the width of your site (eg 800px)*/
    height: auto;
    text-align: left;
    z-index: 3;
    background: white;
    border: 1px solid #dbe2e7 ;
    border-top: 1px;
    padding: 20px;
    padding-top: 0px;
    z-index: 0;
    -moz-border-radius-bottomleft: 5px;  
	-webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
	-webkit-border-bottom-right-radius: 5px;
}

#header{
	position: relative;	
	display: block;
	margin: auto auto auto auto;
	color: #1f272e;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
#footer{
	font-size: 11px;
	position: relative;	
	display: block;
	margin: 10px auto auto auto;
	color: #7590a3;
	text-align: center;
}
.para{
	font-size: 11px;
	position: relative;	
	display: block;
	margin: auto auto auto 0px;
	width: 500px;
	color: #1f272e;
	padding: 0px 10px 10px 10px;
	background: #eff2f5;
	border: 1px solid #d1dae0;
	line-height: 15px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.main_img{
	color: #7590a3;
	position: relative;
	display: block;
	width: 350px;
	height: 230px;
	padding: 5px;
	text-align: center;
	margin: -240px 0px auto auto;
	border: 1px solid #d1dae0;
	background: white url("http://www.berniecode.com/writing/photography/depth-of-field/images/aperture-narrow.jpg") no-repeat center;
}
.para#two{
	background: #f2f5de;
	padding: 10px;
	width: 500px;
	margin: auto auto auto 0px;
	border: 1px solid #d9e29c;
	color: #292e0d;
}
.para#two hr{
	background: #d9e29c;
}
.para#three{
	background: #fef1f3;
	padding: 10px;
	width: 500px;
	margin: auto auto auto auto;
	border: 1px solid #fdd0d8;
	color: #530413;
}
.para#three hr{
	background: #fdd0d8;
}

.para#four{
	background: #f5fbeb;
	padding: 10px;
	width: 500px;
	margin: auto auto auto 0px;
	border: 1px solid #e1f3c0;
	color: #1b2507;
}
.para#four hr{
	background: #e1f3c0;
}
.title#two hr{
	background: #d9e29c;
}
.menu{
	position: fixed;
	width: 65px;
	height: auto;
	display: block;
	padding: 5px 10px;
	background: #ff3389 url(images/bg_tr.png);
	border: 1px solid #ee0064;
	bottom: 10px;
	left: 10px;
	font-family: "Trebuchet MS";
    	font-weight: bold;
    	font-size: 14px;
	color: white;
	filter:alpha(opacity=80);
	opacity: 0.8;
}
.menu a{
	color: white;
	text-align: center;
}
