* {
    border: 0px solid red;
}

hr {
    border: 0;
    color: #838080;
    background-color: #f8d6f4;
    height: 1px;
    width: 100%;
    text-align: left;
}

a {
    color: #1f363d;
    text-decoration: none;
}

b {
    position: relative;
    font-weight: bold;
}

h2 {
    font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

h3 {
    font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 14px;
}

h4 {
    font-family: "Trebuchet MS";
    position: relative;
    font-weight: bold;
    font-size: 13px;
}

h5 {
    position: relative;
    font-weight: bold;
    font-size: 12px;
}

body {
    background: #f7f7f7;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.container {
    margin: -10px auto 20px auto;
    width: 980px;
    height: auto;
    text-align: left;
    z-index: 3;
    background: #3b3c3e;
    border: 1px solid #333435;
    border-top: 1px solid;
    padding: 20px;
    padding-top: 10px;
    z-index: 0;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    color: #FFB306;
}
.title{
	position: relative;
	display: block;
	width: auto;
	height: 50px;
	background: #FF3900;
	border: 1px solid #FF3900;
	padding: 10px;
	margin: -10px -21px auto -21px;
	color: white;
}
.title a{
	color: white;
}
/*
 * color scheme 1: http://0to255.com/1e7e94
 * color scheme 2: http://0to255.com/538fe9
 * color scheme 3: http://0to255.com/648e2b
 * color scheme 4: http://0to255.com/30d219
 */ *
/