*{
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	color: #555;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F5F7FA;
}

/*  Sidebar - Left
*/
.sidebar-left {
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
[data-section="leftPaneContent"]{
    width: 224px;
    height: 224px;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    text-align: center;
}
[data-section="leftPaneContent"] img{
    display: inherit;
    margin: auto;
    width: 224px;
    height: 224px;
    border-radius: 50%;
    background-color: #f45;
}

[data-section="leftPaneContent"] h2{
    font-size: 24px;
    font-weight: 500;
    color:#eee;
    text-align: center;
}

[data-section="leftPaneContent"] p, [data-section="leftPaneContent"] p b{
    color: #eee;
    text-align: center;
}

/*  Sidebar - Right
*/
.sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-right [data-section="rightPaneContent"]{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

h1[data-role="bigText"]{
    font-size: 5em;
    font-weight: 500;
    text-align: center;
}

/*  Menu
*/
ul[data-role="menu"]{
    list-style: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 5px 0;
    border-top: 2px solid rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
ul[data-role="menu"] li{
    float: left;
}
ul[data-role="menu"] li a{
    float: left;
    padding: 0 10px 0 10px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #434A54;
    padding: 6px 10px;
    margin-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.2);
}
ul[data-role="menu"] li:last-child a{
    border: none;
}
ul[data-role="menu"] li a:hover{
    background-color: #FF9800;
    color: #eee;
    border-color:transparent;
    border-radius: 10px;
    cursor: pointer;
    animation: example 0.5s infinite;
    animation-iteration-count: 1;
}
ul[data-role="menu"] li a:hover i.fontello-icon{
    color: #eee;
}
@keyframes example {
    from {border-radius: 0;}
    to {background-color: #FF9800;color: #eee;border-color:transparent;border-radius: 10px;cursor: pointer;}
}