/* Text colors 
*/
.text-color-light, a.text-color-light{
    color: #eee;
}
.text-color-dark, a.text-color-dark{
    color: #555;
}

/*  Backgrounds
*/
.blue{
	background-color: #3F51B5;
}
.green{
	background-color: #4CAF50;		
}
.red{
	background-color: #f45f45;
}
.orange{
	background-color: #FF5722;
}
.darkgray{
	background-color: #434A54;
}

.fontello-icon{
	color: #eee;
}