/* Text colors 
*/
.text-color-light{
    color: #eee;
}
.text-color-dark{
    color: #555;
}

/*  Backgrounds
*/
.background-blue{
	background-color: #1aa5fd;
}
.background-green{

}
.background-red{

}
.background-orange{

}
.background-darkgray{

}