[section="externalLinks"] .fontello-icon{
    font-size: 48px;
    color: #999;
}


ul[data-role="menu"] li a, ul[data-role="menu"] li a i.fontello-icon{
    color: #eee;
}
ul[data-role="menu"] li a:hover{
    background-color: rgba(0,0,0,0.2);
}

@keyframes example {
    from {border-radius: 0;}
    to {background-color: rgba(0,0,0,0.2); border-color:transparent;border-radius: 10px;cursor: pointer;}
}